/*loader */
.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(241, 45.50%, 21.60%, 0.80);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.bouncing-loader {
  display: flex;
  justify-content: space-between;
  width: 80px;
}

.bouncing-loader div {
  width: 18px;
  height: 18px;
  background-color: #3498db;
  border-radius: 50%;
  animation: bounce 0.6s infinite alternate;
}

.bouncing-loader div:nth-child(2) {
  animation-delay: 0.2s;
}

.bouncing-loader div:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes bounce {
  to {
    opacity: 0.3;
    transform: translateY(-16px) scale(1.2);
  }
}
